<!DOCTYPE html>
<html>
<head>
  <title>Corzinus</title>
  <%= stylesheet_link_tag    "corzinus/application", media: "all" %>
  <%= javascript_include_tag "corzinus/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
