%h1.corzinus-title-margin= t('corzinus.checkouts.title')
%ul.steps.list-inline
  - @steps.each_with_index do |step, index|
    - index += 1
    %li.step{class: active_step_class(step)}
      %span.step-number= index
      = link_to t("corzinus.checkouts.nav.#{step}"), checkout_path(step), class: 'span step-text hidden-xs'
    - unless step == @steps.last
      %li.step-divider
