- if local_assigns[:field].present?

  .input-group.align-center.quantity-field
    %div.input-link.quantity-minus
      %i.fa.fa-minus.line-height-40
    .hidden-errors
      = field.input :quantity, as: :string, label: false,
        input_html: { class: 'form-control quantity-input' }
    %div.input-link.quantity-plus
      %i.fa.fa-plus.line-height-40

- else
  %span.ml-30= order_item.quantity
